section, h1 {
  text-align: left;
 }
 
 .square {
     width: 150px;
     height: 150px;
     background: blue;	
     position: relative;
 }
 
 #skew .square {
   background-color: purple;
   transform-origin: top left;
   
 
 }
 
 #skew .square:hover {  
 transform: skew(35deg, 0);
 } 
 
 #scale .square div { 
    background: #000;  
    position: absolute;
    left: 25%;
    top: 25%;
    width: 70px;
    height: 70px;
 }
 
 #scale .square div:hover {
     transform: scale(0.4);
 }
 
 #rotate .square {
   background-color: tomato;
 }
 
 #rotate .square:hover {   
      transform: rotate(50deg);
 }
 
 
 #translate .square {
   background-color: orange;
 }
 #translate .square:hover{
     transform: translate(900px);
 }