.main-container{
    background: brown;
    margin: 60px;
    padding: 8px;
}
.header-container{
margin: 50px;
border:1px solid white;
margin-bottom: 15px;
width:5%;
display:flex;
text-align: center;
}
.header{
    height: 30px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;

}
.flex-container{
    color: #fff;
    display: flex;
    border: 1px solid red;
    padding: 29px;
    display: flex;
    margin-top: 16px;
    margin-right: 50px;
    margin-left: 50px;
    text-align: center;
    flex-wrap: nowrap;
    height: 20rem;
    background: rgba(255, 255, 255, 0.25);
    flex-direction:column;
}
.flex-child {
    border: 1px solid white;
    height:167px;
    margin-top: 40px;
    text-align: center;
    flex-wrap: wrap;
    display: flex;
    word-wrap: none;

}  
.flex-child:nth-child(2) {
    margin-right: 20px;
    margin-top: 30px;
    height: 100px;
    width:89%;
}
.flex-child:first-child(3) {
    /*margin-right: 20px;*/
    margin-top:50px;
    height:40px;
}
.footer-container{
    border: 1px solid white;
    margin-bottom: 15px;
    margin-top: 15px;
    margin-right: 50px;
    margin-left: 50px;
    height: 30px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    background: rgba(255, 255, 255, 0.25);
    width:5%;
}